header{
    height: 80px;
    background-color: #2C3E50;
    position: fixed;
    width: 100%;
 }
 header nav{
     width: 86%;
     margin: 0 auto;
     height: 100%;
     display: flex;
     justify-content: space-between;
     align-items: center;
 }
 header nav .logo h1{
     color: white;
     text-transform: uppercase;
 }
 header nav .links{
     display: flex;
 }
 header nav .links li{
     padding: 0 15px;
 }
 header nav .links li a{
     color: white;
     font-weight: bold;
     text-transform: uppercase;
     transition: 300ms;
 }
 header nav .links li:hover a{
     color: #1ABC9C;
 }
 body{
     height: 200vh;
 }
 .mobile-hamburger-menu{
     background-color: #1ABC9C;
     color: white;
     padding: 14px 12px;
     border-radius: 6px;
     display: none;
 }
 
 /* mobile nav-bar */
 @media only screen and (max-width:992px) {
     .mobile-hamburger-menu{
         display: block;
     }
     header nav .links{
         display: none;
     }
 }
 @media only screen and (max-width:576px) {
     .logo h1{
         font-size: 14px;
     }
 }
 