main{
    padding-top: 80px;

div.greenbox{
    width: 100%;
    height: 80vh;
    background-color: aqua;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;


div.img-wrapper{
    width: 250px;
    height: 250px;
    overflow: hidden;


img{
    width: 100%;
    height: 100%;
}
}
.block1{
    font-size:30px;
    margin: 30px;
    display: flex;
.cub1{
    border-radius:  4px;
    height: 5px;
    width: 120px;
    background-color: white;
    margin-left: 10pxpx;
    margin-bottom: 10px;
}
.star{
    margin-left: 10px;
    margin-bottom: 10px;

}
a{
    color: whitesmoke;
    font-weight: 50px;
    margin-top: 9px;
}
}
.cub2{
    border-radius: 3px;
    height: 4px;
    width: 120px;
    background-color: white;
    margin: 20px;

}
}
}