div.Second-Animations {
    width: 500px;
    height: 500px;
    margin: 500px auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Second-Animations .head{
 position: absolute;
 text-align: center;
 width: 10%;
 height: 6%;
 font-size: 24px;

}

.Second-Animations .box{
   
    width: 150px;
    height: 150px;
    position: absolute;
}
.Second-Animations .box.box1{
    transform-origin: bottom right;
    background-color: red;
    top: 50%;
    left: 50%;
    
}
.Second-Animations .box.box2{
   transform-origin: bottom left;
    background-color: yellow;
    top: 50%;
    right: 50%;
    
}
.Second-Animations .box.box3{
  transform-origin: top right;
    background-color: blue;
    bottom: 50%;
    left: 50%;
}
.Second-Animations .box.box4{
   transform-origin: top left;
    background-color: green;
    bottom: 50%;
    right: 50%;

}
.Second-Animations:hover .box.box1{
    transform: rotate(0deg);
    animation-name: square1;
    animation-duration: 2s;
    animation-timing-function: linear;
}
.Second-Animations:hover .box.box2{
    transform: rotate(0deg);
    animation-name: square2;
    animation-duration: 2s;
    animation-timing-function: linear;
}
.Second-Animations:hover .box.box3{
    transform: rotate(0deg);
    animation-name: square3;
    animation-duration: 2s;
    animation-timing-function: linear;
}
.Second-Animations:hover .box.box4{
    transform: rotate(0deg);
    animation-name: square4;
    animation-duration: 2s;
    animation-timing-function: linear;
}
@keyframes square1 {
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(90deg);
    }
    100%{
        transform: rotate(0);
    }

    
}
@keyframes square2 {
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(-90deg);
    }
    100%{
        transform: rotate(0);
    }

    
}
@keyframes square3 {
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(-90deg);
    }
    100%{
        transform: rotate(0);
    }

    
}
@keyframes square4 {
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(90deg);
    }
    100%{
        transform: rotate(0);
    }

    
}