* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a {
  font-family: "Jost";
}

.nav-left li a {
  font-size: 20px;
}

.nav-right .nav-button {
  color: white !important;
}

.nav-contact span {
  color: white;
  font-size: 18px;
  font-weight: 500;
}

.nav-contact .phone {
  font-weight: 300;
  border-bottom: 1px dashed white;
}

.first-sect h1 {
  font-size: 50px;
  font-weight: 700;
  color: white;
}

.first-sect .price {
  font-size: 40px;
  font-weight: 500;
  color: white;
}

.first-sect p {
  font-size: 18px;
  padding-top: 10px;
  color: white;
}

.second-sect h1 {
  font-weight: 600px;
}

.second-sect p {
  color: rgba(0, 0, 0, 0.667);
}

.second-sect .arrow-left a {
  font-size: 30px;
  color: lightgray;
}

.second-sect .arrow-right a {
  font-size: 30px;
  color: lightgray;
}

.third-sect h1 {
  color: white;
}

.third-sect .card {
  color: white;
}

.fourth-sect h1 {
  font-weight: 600px;
}

.fourth-sect p {
  color: rgba(0, 0, 0, 0.667);
}

.fourth-sect .arrow-left a {
  font-size: 30px;
  color: lightgray;
}

.fourth-sect .arrow-right a {
  font-size: 30px;
  color: lightgray;
}

.fifth-sect a {
  font-size: 18px;
  color: black;
}

.sixth-sect p {
  margin-bottom: 80px;
}

.seventh-sect h2 {
  font-weight: 700;
  color: white;
  margin-top: 80px;
}

.seventh-sect p {
  margin-bottom: 60px;
  color: white;
}

.seventh-sect input {
  border: none;
  background-color: #004274;
  border-bottom: 2px solid #beccd6;
  color: white;
}

footer {
  margin-top: 80px;
  list-style: none;
}

footer ul li a {
  color: rgba(59, 54, 54, 0.768);
  padding: 20px;
}

footer h3 a {
  color: black;
  font-weight: 600;
}

footer .img {
  color: black;
}

.box-form, nav .container .nav-right .nav-button, header .container .form-button, header .container [id^=select-], header .container input {
  border-radius: 4px;
  width: 100px;
  height: 45px;
  padding-right: 20px;
}

.fixed-button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  background-color: #00aeff;
  position: fixed;
  bottom: 2%;
  right: 2%;
  z-index: 5;
}

.fixed-button a {
  color: white;
  font-size: 25px;
  font-weight: 200;
}

header {
  width: 100%;
  height: 15vh;
}

header .container {
  width: 50%;
  height: 7vh;
  padding-top: 85px;
  height: 100%;
  margin: 0 auto;
  gap: 20px;
}

header .container input {
  width: 400px;
}

header .container .input-group-addon {
  padding: 10px;
}

header .container [id^=select-] {
  border-radius: 4px;
  width: 100px;
  height: 45px;
  padding-right: 20px;
}

header .container .form-button {
  background-color: #004274;
  text-align: center;
  color: white;
}

nav {
  width: 100%;
  height: 7vh;
  background-color: #004274;
  position: fixed;
  z-index: 3;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .container {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .container .nav-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  display: flex;
  margin: 0 5px;
}

nav .container .nav-left ul {
  display: flex;
  padding-top: 20px;
}

nav .container .nav-left ul li a {
  color: white;
  padding: 0 15px;
}

nav .container .nav-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .container .nav-right .nav-button {
  margin: 0 40px;
  background-color: #00aeff;
  padding: 3px 0 0 3px;
  text-align: center;
}

@media screen and (max-width: 1200px) {
  nav .container .nav-right .nav-contact {
    display: none;
  }
}
@media screen and (max-width: 992px) {
  nav .container .nav-left ul {
    display: none;
  }
  nav .container .nav-right .nav-contact {
    display: block;
  }
}
footer {
  display: flex;
  flex-direction: row;
  padding: 70px 40px 70px 70px;
  gap: 40px;
}

footer h3 {
  font-size: 20px;
}

footer img-wrapper {
  width: 300px;
}

footer img-wrapper img {
  margin-bottom: 25px;
}

footer img-wrapper ul {
  display: flex;
  flex-direction: row;
  padding-left: 4px;
  gap: 10px;
}

footer img-wrapper ul li {
  font-size: 14px;
}

footer .navigation {
  text-align: left;
}

footer .navigation h3 {
  padding-left: 16px;
  margin-bottom: 40px;
}

footer .navigation ul li {
  margin-bottom: 10px;
}

footer .services {
  text-align: left;
}

footer .services h3 {
  padding-left: 16px;
  margin-bottom: 40px;
}

footer .services ul li {
  margin-bottom: 10px;
}

footer .support {
  text-align: left;
}

footer .support h3 {
  padding-left: 20px;
  margin-bottom: 40px;
}

footer .support ul li {
  margin-bottom: 10px;
}

footer .contactUs {
  text-align: left;
}

footer .contactUs h3 {
  padding-left: 26px;
  margin-bottom: 40px;
}

footer .contactUs ul li {
  margin-bottom: 10px;
}

.first-sect {
  width: 100%;
  height: 70vh;
  overflow: hidden;
  border: 1px solid black;
  position: relative;
}

.first-sect img {
  width: 100%;
  height: 100%;
  opacity: 5;
}

.first-sect .container {
  width: 60%;
  height: 350px;
  margin: 0 auto;
  text-align: left;
  padding: 50px 30px 30px;
  margin-top: 80px;
  color: white;
  position: absolute;
  top: 10%;
  left: 15%;
}

.first-sect .container button {
  width: 180px;
  color: white;
  height: 50px;
  border-radius: 4px;
  background-color: #00aeff;
  border: none;
  margin: 30px 0;
}

.second-sect {
  margin-top: 50px;
  width: 100%;
  position: relative;
}

.second-sect .arrow-right {
  width: 70px;
  height: 70px;
  position: absolute;
  top: 70%;
  right: 13%;
}

.second-sect .arrow-left {
  width: 70px;
  height: 70px;
  position: absolute;
  top: 70%;
  left: 12%;
}

.second-sect .card {
  border-radius: 0%;
}

.second-sect .card img {
  border-radius: 0%;
}

.second-sect .card .card-body {
  text-align: left;
}

.second-sect .card .card-body h6.price {
  color: rgb(6, 161, 212);
}

.second-sect .card .card-footer ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.three-sect {
  width: 100%;
  height: 800px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("./../images/office.webp");
  padding: 15px;
}

.three-sect .card {
  background-color: #00A0EB;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.three-sect .card img {
  width: 50px;
  height: 50px;
  margin: 100px auto;
}/*# sourceMappingURL=main.css.map */