.btn-header-1 {
   
    width: 70px;
    height: 40px;
    background-color: #313131;
    border-radius: 6px;
    padding-top: 10px;
  }
  .btn-header-2 {
   
    width: 35px;
    height: 40px;
    background-color: #1a1a1a;
    border-radius: 6px;
    padding-top: 10px;
    margin-right: 8px;
  }